[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
db = "*"
app = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
flask-restful = "*"
marshmallow-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"
